.show-card {
  padding-left: 0%;
  padding-right: 0%;
}
.show-img {
  width: 100%;
  height: 30vh;
  object-fit: cover;
  border-radius: 1rem;
}
.btns {
  display: flex;
}
.review-card {
  margin-bottom: 1rem;
}
#map {
  height: 400px;
  width: 80vh;
} 